Repository jakartaee/data, pull requests merged in 2023-08, with the labels that each got.

#201 Tests for keywords: Or, In, LessThan, GreaterThan, ExistsBy, CountBy
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTest.java
Labels: test

#203 Fix TCK signature testing
  tck-dist/src/main/asciidoc/sections/05inventory.adoc
  tck-dist/src/main/assembly/assembly.xml
  tck-dist/src/main/starter/ee-pom.xml
  tck-dist/src/main/starter/se-pom.xml
  tck-dist/src/main/starter/src/test/resources/arquillian.xml
  tck/pom.xml
  tck/src/main/java/ee/jakarta/tck/data/framework/arquillian/extensions/TCKArchiveProcessor.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/DataSignatureTestRunner.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/README.md
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/SigTest.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/SigTestData.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/SigTestEE.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/signature/SignatureTests.java
Labels: bug, test

#207 TCK tests for IgnoreCase, Contains (substring), True, False
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTest.java
Labels: test

#212 Tests for default methods, common interfaces, Not
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/IdOperations.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/NaturalNumbers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTest.java
Labels: test

#214 Tests for KeysetAwarePage
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTest.java
Labels: test

#220 Tests for query annotation with JPQL
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/Catalog.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/PersistenceEntityTests.java
Labels: test

#232 clarifications on built-in repository super interfaces
  api/src/main/java/module-info.java
  spec/src/main/asciidoc/repository.asciidoc
Labels: documentation
