Repository jakartaee/data, pull requests merged in 2023-07, with the labels that each got.

#187 Jakarta Data module lacks JavaDoc
  api/src/main/java/jakarta/data/repository/Repository.java
  api/src/main/java/module-info.java
Labels: documentation

#190 Updates for Java 21
  .github/workflows/java-CI.yml
  tck-dist/src/main/asciidoc/sections/05inventory.adoc
  tck-dist/src/main/asciidoc/sections/07.2ee-mode.adoc
  tck-dist/src/main/asciidoc/sections/10signature.adoc
  tck-dist/src/main/assembly/assembly.xml
  tck-dist/src/main/starter/ee-pom.xml
  tck/pom.xml
  tck/src/main/java/ee/jakarta/tck/data/framework/arquillian/extensions/TCKArchiveProcessor.java
  tck/src/main/java/ee/jakarta/tck/data/framework/arquillian/extensions/TCKFrameworkAppender.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/DataSignatureTestRunner.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/SigTestData.java
  tck/src/main/java/ee/jakarta/tck/data/framework/signature/SigTestEE.java
  tck/src/main/resources/ee/jakarta/tck/data/framework/signature/jakarta.data.sig_17
  tck/src/main/resources/ee/jakarta/tck/data/framework/signature/jakarta.data.sig_21
Labels: test, github_actions

#198 tests for findFirst, CrudRepository and PageableRepository
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTest.java
Labels: test
