Repository jakartaee/data, pull requests merged in 2024-03, with the labels that each got.

#510 clarify combined sort and keyset cursors
  api/src/main/java/jakarta/data/page/KeysetAwareSlice.java
  spec/src/main/asciidoc/repository.asciidoc
Labels: documentation

#515 TCK coverage for hasNext and hasPrevious
  api/src/main/java/jakarta/data/page/KeysetAwareSlice.java
  api/src/main/java/jakarta/data/page/Slice.java
  api/src/main/java/jakarta/data/page/impl/KeysetAwareSliceRecord.java
  api/src/main/java/jakarta/data/page/impl/PageRecord.java
  api/src/main/java/jakarta/data/page/impl/SliceRecord.java
  spec/src/main/asciidoc/repository.asciidoc
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
Labels: test

#522 TCK tests using return types that no longer correspond to spec requirements
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/IdOperations.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/Catalog.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/PersistenceEntityTests.java
Labels: test

#521 requestTotal is lost when subsequent methods are invoked
  api/src/main/java/jakarta/data/page/PageRequest.java
  api/src/main/java/jakarta/data/page/Pagination.java
  api/src/test/java/jakarta/data/page/PageRequestTest.java
  api/src/test/java/jakarta/data/page/PaginationTest.java
Labels: bug

#527 enum ordering behavior is not documented
  api/src/main/java/module-info.java
Labels: documentation

#565 Small fix at genetic staticmetamodel
  api/src/main/java/jakarta/data/metamodel/StaticMetamodel.java
Labels: bug

#569 TCK tests broken by removal of alias for id
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/Catalog.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/PersistenceEntityTests.java
Labels: bug, test

#572 Correct reference to outdated nosql package name
  api/src/main/java/module-info.java
Labels: bug, documentation

#577 fix unclear spec doc for the OrderBy keyword
  spec/src/main/asciidoc/repository.asciidoc
Labels: bug, documentation

#582 Update signatures for M4
  tck/src/main/resources/ee/jakarta/tck/data/framework/signature/jakarta.data.sig_17
  tck/src/main/resources/ee/jakarta/tck/data/framework/signature/jakarta.data.sig_21
Labels: test

#592 TCK tests for literals in query language
  spec/src/antlr/JDQL.g4
  spec/src/main/asciidoc/query-language.asciidoc
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/NaturalNumbers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
Labels: test

#593 TCK has outdated expectation for exception type
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
Labels: bug, test

#598 TCK tests for boolean operators and parenthesis
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/AsciiCharacters.java
  tck/src/main/java/ee/jakarta/tck/data/framework/read/only/PositiveIntegers.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
Labels: test

#600 TCK must use JDQL rather than JPQL for Query
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/Catalog.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/persistence/PersistenceEntityTests.java
Labels: test

#607 TCK tests for JDQL UPDATE and DELETE
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/Coordinate.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/EntityTests.java
  tck/src/main/java/ee/jakarta/tck/data/standalone/entity/MultipleEntityRepo.java
Labels: test
